<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs',{title:'USERS'})%>

    <body>
        <%- include('./partials/header.ejs',{title:'Clientes', page:'home', clase:'bgimg-1'})%>
            <div class="mvc-content mvc-container mvc-padding-64" id="about">
                <h3 class="mvc-center">Users</h3>
            </div>
            <%- include('partials/footer.ejs') %>
                <%- include('partials/scripts.ejs') %>
    </body>

</html>